<!DOCTYPE html>
<html ng-app="project">
<head>
<title>Hello Endpoints!</title>
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
<script type="text/javascript" src="/js/project.js"></script>

</head>
<body>
	<div ng-controller="ProjectController">
		<label>Name:</label> <input type="text" ng-model="input"
			placeholder="Enter a name here">
		<hr>
		<h1>Hello {{input + ";" + result}}!</h1>


		<label>Name:</label> <input type="text" ng-model="name"
			placeholder="Item name"> <label>Description:</label> <input
			type="text" ng-model="description" placeholder="Item description">
		<button ng-click="add()">Add</button>
		<button ng-click="get()">Get</button>

		<h1>Are you {{message}}!</h1>

		<div ng-repeat="model in items">X {{model.title + ":" +
			model.description}}</div>
	</div>
</body>
</html>